/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: transparent;
  height: 100%;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #AAA;
}

.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag, {
  color: #000;
  font-weight: bold;
}

.hljs-name,
.hljs-keyword {
  color: #ff9faf;
}

/* User color: hue: 0 */

.hljs-number {
  color: #ffae1a;
}


.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-string {
  color: #cc0000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #000;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #cc0000;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
